<h1>Add a New Prehistoric Creature</h1>

<!-- action = WHERE to place the info when the form is submitted -->
<!-- method = WHAT to do when the form is submitted (either GET OR POST) -->
<form action='/prehistoric_creatures' method='POST'>
    <!-- FOR has to match the ID of the input -->
    <label for='phcType'>Type:</label>
    <input type='text' name='type' id='phcType'>

    <label for='phcImage'>Image Link:</label>
    <input type='text' name='img_url' id='phcImage'>

    <!-- allows you to submit without needing to create click functionality for a button -->
    <input type='submit'>
</form>