<h1>Search for Movies</h1>

<form method='GET' action='/movies'>
    <label for='movie'>Search by Movie Name:</label>
    <input type='text' id='movie' name='movie'>
    <input type='submit' id='submit'>
</form>