<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OMDB App</title>
    <link rel="stylesheet" href="http://localhost:<%= process.env.PORT%>/css/style.css">
</head>
<h1> Welcome to the OMDB App</h1>
<body>
    <%- body %>
</body>
</html>