@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-image: url("./waffleThing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  font-family: "Pacifico", cursive;
  color: #ffffff;
  font-size: 4rem;
  z-index: 999;
}
button {
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 1rem 2rem;
  transition: ease-in-out 0.5s;
  font-size: 1.2rem;
  z-index: 999;
}

button:hover {
  cursor: pointer;
  background: #363636;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.landing-page__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.534);
  background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC)
    repeat scroll transparent\9; /* ie fallback png background image */
  z-index: 989;
  color: white;
}
