@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

*{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: white;
    margin: 0 auto;
    background-color: #F7CAC9;
}

body{
    position: relative;
}

h1{
    margin-top: 40px;
}

p{
    margin-bottom: 30px;
}

.search-container {
    padding-top: 24px;
    position: relative;
    width: 60%;
}

#container {
    padding-top: 24px;
    width: 500px;
    height: 500px;
}

.search-title {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    color: #ff8b88;
}

input[type="text"] {
    width: 40%;
    margin: 12px 24px;
    padding: 12px 24px;
    text-transform: uppercase;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

button[id="stop-button"]{
    width: 20%;
    /* margin-top: 50px; */
    padding: 12px 24px;
    background-color: transparent;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

button[id="stop-button"]:hover{
    color: white;
    background: #575756;
    cursor: pointer;
}


button[type="submit"] {
    cursor: pointer;
    border: none;
    height: 20px;
    width: 50px;
    margin-left: -85px;
    vertical-align: middle;
    position: absolute;
    margin-top: 22px;
}

#input::placeholder {
    color: color(#575756 a(0.8));
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

#input:hover, #input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
}

.hidden{
    opacity: 0;
}

.visible{
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    padding: 25px;
    border: 3px solid purple;
    border-radius: 7px;
}